.projects-wrap {
    display: flex;
    align-items: center;
    padding-top: 3em; 
    justify-content: center;
    gap: 3em;
    padding: 2em;
}

.cards-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    background-color: var(--dusky-blue);
    width: 30em; 
    padding: 2em; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h2 {
    margin-top: 4em;
}

h3, h4 {
    font-family: "Poppins-Medium";
    color: var(--light-lavender-blue);
}

p {
    font-family: "Poppins-Light";
    color: var(--light-lavender-blue);
}
